@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=JetBrains+Mono:wght@400;500&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}
